<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <div class="gs-user-avatar">
          <img ng-src="{{$ctrl.user.avatar_url}}">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <strong ng-bind="$ctrl.user.name"></strong>
        </div>
        <div><a ng-href="{{$ctrl.user.html_url}}" target="_blank">See on GitHub</a></div>
        <div><a ui-sref="users.detail({ login: $ctrl.user.login })">Repositories</a></div>
      </div>
    </div>
  </div>
</div>